  <header class="main-header">
    <div class="container">
      <div class="logo">
        <i class="fas fa-airbnb logo-icon"></i>
        <span class="logo-text">airbnb</span>
      </div>
      <nav class="main-nav" >
        
        <div class="user"><a href="/" class="nav-link">Home</a>
          <a href="/home-list" class="nav-link login-btn">Home list</a>
        <a href="/booking" class="nav-link">Bookings</a>
        <a href="/favourite" class="nav-link login-btn">Favourite</a></div>
        
        <div class="host" style="margin-left: 20px;"><a href="add-home" class="nav-link">Add Home</a></div>

      </nav>
    </div>
  </header>